@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "List of Users Page";
}

<div class="row mt-5">
    <div class="col-6">
        <h2 class="text-primary"> List of Users </h2>
    </div>
</div>

<div class="p-4 rounded border mt-5">
    @if(Model.Any())
    {
        <table class="table table-bordered table-striped border">
            <thead>
                <tr class="table-secondary">
                    <th> Email </th>
                    <th> Name </th>
                    <th> Roles </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
               {
                   <tr>
                       <td> @item.Email </td>
                       <td> @item.Name </td>
                       <td> @item.Role </td>
                       <td></td>
                   </tr>
               }
            </tbody>
        </table>
    }
</div>