@{
    ViewData["Title"] = "Access Denied Page";
}

<div class="row">
    <div class="col-12 mt-5 mb-5">
        <h1 classs="text-danger"> Access Denied </h1>
        <hr />
    </div>
    <div class="col-5">
        <img src="~/images/undraw_access_denied_re_awnf.svg" height="430" width="430" class="img-thumbnail" />
    </div>
    <div class="col-7">
        <h3 class="text-info mb-2">
            You do not have permission to access this page, please contact with the administration of the company.
        </h3>
        <a class="btn btn-primary mt-2" asp-controller="Home" asp-action="Index"> Back to Home </a>
    </div>
</div>