@{
    ViewData["Title"] = "Two Factor Authentication Setup Page";
}

<div class="row">
    <div class="col-12 mt-5 mb-3">
        <h1 class="text-dark">
            Two Factor Authentication Setup
        </h1>
        <h3 class="text-info">
            The action has been setup successfully!
        </h3>
    </div>
</div>