<div class="row">
    <div class="col-12 mt-5">
        <div class="alert alert-warning" role="alert">
            <h1 class="text-info"> Confirmation! </h1>
            Please check your email to reset your password!
        </div>
    </div>
</div>