<div class="row">
    <div class="col-12">
        <h1 class="text-info mt-3"> Lockout </h1>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-6 mt-5">
            <img src="~/images/undraw_time_management_re_tk5w.svg" width="500" height="500" class="img-thumbnail" />
        </div>
        <div class="col-md-6 mt-5">
            <h1> You need to wait for 30 sec. </h1>
            <p> The reason is, you entered wrong password or usernamr for more than 5 times. </p>
        </div>
    </div>
</div>