<div class="row">
    <div class="col-12 mt-5">
        <div class="alert alert-warning" role="alert">
            The entered email address doesn't exist, please check the email and try again.'
             <a asp-controller="Account" asp-action="Login" class="alert-link">Back to login page</a>
        </div>
    </div>
</div>