<div class="row">
    <div class="col-12 mt-5">
        <div class="alert alert-success" role="alert">
            Your password has been reset.
             <a asp-controller="Account" asp-action="Login" class="alert-link">Please click here to login.</a>
        </div>
    </div>
</div>