@{
    ViewData["Title"] = "Home Page";
}


<div class="row mt-5" style="width: 100%; height: 500px;">
    <div class="col-md-4 text-start ml-0">
        <h1 class="display-4">Welcome</h1>
        <p>
            The Authentication and Authorization concepts are two main
            and necessary logic for any application.
        </p>
    </div>
    <div class="col-md-8 text-end">
        <img src="images/undraw_mobile_encryption_re_yw3o.svg" class="img-thumbnail" />
    </div>
</div>
